body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
  }
  
  .countdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .countdown-digit {
    font-size: 6rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
  }
  .top_right{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  button{
    position: relative;
    background-color: transparent;
    color: white;
    border: none; 
    padding: 10px 20px; 
    margin: 1%; 
    cursor: pointer; 
    left: 1%;
    top: 1%;
} 
img{
    width: 40px;
    height: 40px;
  }
  